//religion style
#religion-1{ margin-right: 15px }
#religion-2{
    margin-right:20px;
    background-color:rgb(102 16 242 / 41%)
}
#religion-3{ margin: 20px }
#religion-4{background-color:rgb(102 16 242 / 41%)}
#religion-5{ background-color: rgb(102 16 242 / 41%) }

//god names style
#god-1{ margin-right: 15px }
#god-2{
    margin-right:20px;
    background-color:rgb(102 16 242 / 41%)
}
#god-3{ margin: 20px }
#god-4{background-color:rgb(102 16 242 / 41%)}
#god-5{background-color:rgb(102 16 242 / 41%)}

#name-1{ margin-right: 15px }
#name-2{
    margin-right:20px;
    background-color:rgb(102 16 242 / 41%)
}
#name-3{ margin: 20px }
#name-4{background-color:rgb(102 16 242 / 41%)}
#name-5{ background-color: rgb(102 16 242 / 41%) }
#name-6{text-align:left}
#name-7{text-align:left}
#name-8{ cursor: pointer}
.dropdown-toggle::after {float: right}
#default {cursor: default}
#mt-1{margin-top: 30px;}
#mt-2{margin-top: 30px;}
#mt-3{margin-top: 30px;}
#input{ margin-right: 10px;}
#primary{ background-color: rgb(102 16 242 / 41%) }
#nick1{ margin-right: 15px; }
#nick2{margin-right:20px; background-color:rgb(102 16 242 / 41%)}
#nick3{margin:20px}
#nick4{text-align:left}
#nick5{background-color:rgb(102 16 242 / 41%)}
#nick6{ background-color: rgb(102 16 242 / 41%) }